<%= form_for(@laptop) do |f|%>


  <%= f.label :color %>
  <%= f.text_field :color %>
  <br><br>

  <%= f.label :condition %>
  <%= f.text_field :condition %>
  <br><br>

  <%= f.label :price %>
  <%= f.number_field :price %>
  <br><br>


  <h4> Select an exist Brand: </h4>
  <div>
    <%= f.collection_select :brand_id , Brand.all, :id, :name, include_blank: 'Select One' %>
  </div>

  <h4> Or create a new Brand: </h4>
  <div>
    <%= f.fields_for :brand do |b| %>
    <%= b.label :name %>
    <%= b.text_field :name %>
    <%end%>
  </div>

  <br><br>
  <%= f.submit  %>
  <br>
  <%end%>