<%= display_header_brand(@brand)%>

<div>
<% @laptops.each do |laptop| %>

   Brand: <%= link_to laptop.brand.name, brand_path(laptop) %> - Price: <%= laptop.price %> - <%= link_to( "More details", laptop_path(laptop)) %><br>
              <p><%= link_to "Write a review", new_laptop_review_path(laptop) %></p><br><br>
    <%end%>
</div>
