
           <h2><%= @laptop.brand_name %></h2>
           <ul>
<p> Condition: <%= @laptop.condition %></p>
<p> Color: <%= @laptop.color %></p>
<p> Price: $<%= @laptop.price %></p>
           <%= link_to( "Delete" , laptop_path(@laptop), method: 'delete') %> |
           <%= link_to( "Edit" , edit_laptop_path ) %>
           </ul>




