<!DOCTYPE html>
<html>
  <head>
    <title>LaptopsSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 <body>
<div>
  <% if logged_in? %>
  <%= link_to "Log Out", logout_path, method: :delete %>  |
  <%= link_to  "Add an Laptop", new_laptop_path %>  | 
  <%= link_to "All Laptops", laptops_path %>  | 
  <%= link_to "Add a Review", new_review_path %>  |
  <%= link_to "All Reviews" , reviews_path %>  |
  <%= link_to "All Brands", brands_path %> 
  <%= link_to "Most expensive", expensive_path %> |

  <% else %>
  <%= link_to "Sign Up", signup_path %>
  <%end%>
</div>
  <%= yield %>
</body>
</html>
